<script setup lang="ts">
import HomeInfoCard from '@/components/HomeInfoCard.vue';
import HomeStatusInfo from '@/components/HomeStatusInfo.vue';
import TheHeader from '@/components/TheHeader.vue';
import usdt from '@/assets/images/usdt.png'
</script>

<template>
  <main class="bg-[#1A1A1A] min-w-screen min-h-screen">
    <TheHeader />
    <div class="px-6 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-cols-1 gap-5 py-10">
      <HomeInfoCard iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" descriptionType="chart" leftText="97.83%" class="order-2 lg:order-1" />
      <HomeStatusInfo class="md:col-span-2 order-1 lg:order-2" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Withdrawal status" subtitle="Connected cryptocurrencies" rightText="19:55:59" rightTextClasses="text-[#BABAC2]/50 text-xl" leftText="08.06.2022" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="bitcoin" title="Buy items" subtitle="Time from the last purchase" descriptionType="content">
        <template #bottomRight>
          <div class="flex justify-center items-center gap-x-2">
            <div class="w-[45px] h-[45px] rounded-full bg-gradient-to-b flex justify-center items-center from-white to-white/0">
              <img :src="usdt" alt="usdt" class="w-[24px] h-[24px]">
            </div>
            <div class="w-[45px] h-[45px] rounded-full bg-gradient-to-b flex justify-center items-center from-white to-white/0">
              <img :src="usdt" alt="usdt" class="w-[24px] h-[24px]">
            </div>
            <div class="w-[45px] h-[45px] rounded-full bg-gradient-to-b flex justify-center items-center from-white to-white/0">
              <img :src="usdt" alt="usdt" class="w-[24px] h-[24px]">
            </div>
          </div>
        </template>
      </HomeInfoCard>
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Waxpeer pay bots" subtitle="The number of avaliable bots on Wxpeer pay" rightText="25 sec" rightTextClasses="text-gradient text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="259 bots" rightTextClasses="text-gradient text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="10 sec" rightTextClasses="text-gradient text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="active" rightTextClasses="text-[#20CE70] text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="unstable" rightTextClasses="text-[#EC7A2A] text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="stable" rightTextClasses="text-[#20CE70] text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="2.856 ms" rightTextClasses="text-gradient text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="canceled" rightTextClasses="text-[#EF5858] text-3xl" />
      <HomeInfoCard class="order-2 lg:order-3" iconName="up" title="Uptime" subtitle="Uptime over the past 24 hours" rightText="active" rightTextClasses="text-[#20CE70] text-3xl" />
    </div>
  </main>
</template>
