<template>
    <div class="bg-[#212121] rounded-lg p-5 pb-8 h-[200px] w-full">
        <div class="flex items-start gap-x-3 h-full">
            <div v-if="iconName" class="w-[32px] h-[32px] rounded-full bg-[#262626]">
                <img :src="`/icons/${iconName}.png`" class="w-full h-full" :alt="`${iconName}`">
            </div>
            <div class="w-full h-full flex flex-col justify-between">
                <div>
                    <div class="text-white font-medium mt-1 text-base">
                        {{ title }}
                    </div>
                    <div class="text-[#BABAC2]/50 text-sm mt-2">
                        {{ subtitle }}
                    </div>
                </div>
                <div class="mt-5 flex justify-between">
                    <p class="text-gradient text-3xl">
                        {{ leftText }}
                    </p>
                    <div class="flex justify-end items-end">
                        <img v-if="descriptionType === 'chart'" class="w-3/5" :src="chart" alt="chart">
                        <div v-else-if="descriptionType === 'text'" :class="rightTextClasses">
                            {{ rightText }}
                        </div>
                        <div v-else>
                            <slot name="bottomRight">

                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import chart from '@/assets/images/chart.png'

const props = defineProps({
    iconName: {
        type: String,
        default: ''
    },
    title: {
        type: String,
        default: ''
    },
    subtitle: {
        type: String,
        default: ''
    },
    descriptionType: {
        type: String,
        default: 'text'
    },
    leftText: {
        type: String,
        default: '',
    },
    rightText: {
        type: String,
        default: '',
    },
    rightTextClasses: {
        type: String,
        default: ''
    },
})

</script>

<style scoped>

</style>