<template>
    <div class="md:h-[200px] p-5">
        <div class="flex flex-col md:flex-row justify-between">
            <div class="lg:pl-6 h-full order-2 md:order-1">
                <div class="text-base text-white mt-1">
                    Waxpeer online & status
                </div>
                <div class="flex flex-col md:flex-row mt-3 md:mt-12">
                    <div class="md:pr-6 xl:pr-10 py-4">
                        <div class="text-3xl text-gradient">
                            {{ extension_count }}
                        </div>
                        <div class="text-[#95959A]/50">
                            extension
                        </div>
                    </div>
                    <div class="md:px-6 xl:px-10 border-y-[1.35px] md:border-x-[1.35px] md:border-y-0 py-4 border-[#333333]">
                        <div class="text-3xl text-gradient">
                            {{ extension_count }}
                        </div>
                        <div class="text-[#95959A]/50">
                            desktop
                        </div>
                    </div>
                    <div class="md:pl-6 xl:pl-10 py-4">
                        <div class="text-3xl text-gradient">
                            {{ extension_count }}
                        </div>
                        <div class="text-[#95959A]/50">
                            mobile
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-1 md:order-2 flex h-full items-center justify-center">
                <TheGlobe class="w-[236px] h-[200px]" />
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import TheGlobe from './TheGlobe.vue';

const extension_count = 18755

</script>

<style scoped>

</style>