<template>
    <svg
        width="295"
        height="250"
        viewBox="0 0 280 255"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <!-- Орбиты -->
        <path
          class="orbit"
          d="M160.973 83.9441C197.687 97.2651 229.374 113.548 250.926 129.093C261.705 136.868 269.925 144.443 274.976 151.352C280.039 158.277 281.842 164.427 280.03 169.42C278.219 174.412 272.892 177.975 264.566 180.043C256.26 182.106 245.095 182.646 231.838 181.7C205.332 179.809 170.576 171.983 133.863 158.662C97.1489 145.341 65.4616 129.059 43.9097 113.513C33.1311 105.738 24.9103 98.1637 19.8597 91.2545C14.797 84.3288 12.994 78.1791 14.8054 73.1866C16.6169 68.1941 21.9439 64.6314 30.2698 62.5636C38.5758 60.5006 49.7409 59.9602 62.9973 60.9061C89.5035 62.7976 124.259 70.623 160.973 83.9441Z"
          stroke="#207748"
          stroke-opacity="0.15"
          stroke-width="0.947529"
          mask="url(#orbitMask)"
        />
        <path
          class="orbit"
          d="M172.811 153.998C146.159 174.445 119.174 189.202 97.1032 196.538C86.0654 200.208 76.2823 202.012 68.3969 201.761C60.507 201.51 54.5924 199.206 51.168 194.742C47.7437 190.279 47.0498 183.969 48.8504 176.284C50.65 168.602 54.9268 159.62 61.3293 149.909C74.1316 130.491 95.3729 108.249 122.025 87.8013C148.677 67.3538 175.662 52.5973 197.733 45.2604C208.77 41.5912 218.553 39.7864 226.439 40.0375C234.329 40.2887 240.243 42.5929 243.668 47.0563C247.092 51.5198 247.786 57.8293 245.985 65.5151C244.186 73.1965 239.909 82.1785 233.507 91.8895C220.704 111.308 199.463 133.55 172.811 153.998Z"
          stroke="#207748"
          stroke-opacity="0.5"
          stroke-width="0.947529"
          mask="url(#orbitMask)"
        />
        <path
          class="orbit"
          d="M194.046 103.974C206.992 132.519 213.443 160.726 213.425 183.243C213.407 205.807 206.903 222.46 194.181 228.23C181.459 233.999 164.646 227.922 147.659 213.07C130.706 198.249 113.736 174.813 100.79 146.269C87.8442 117.724 81.3928 89.5174 81.411 67C81.4292 44.4357 87.9332 27.7831 100.655 22.0133C113.377 16.2436 130.19 22.3212 147.177 37.1729C164.13 51.9936 181.1 75.4297 194.046 103.974Z"
          stroke="#207748"
          stroke-width="0.947529"
        />

        <!-- Яркий световой след -->
        <path
          class="lightTrail"
          d="M194.046 103.974C206.992 132.519 213.443 160.726 213.425 183.243C213.407 205.807 206.903 222.46 194.181 228.23C181.459 233.999 164.646 227.922 147.659 213.07C130.706 198.249 113.736 174.813 100.79 146.269C87.8442 117.724 81.3928 89.5174 81.411 67C81.4292 44.4357 87.9332 27.7831 100.655 22.0133C113.377 16.2436 130.19 22.3212 147.177 37.1729C164.13 51.9936 181.1 75.4297 194.046 103.974Z"
          stroke="#fff"
          stroke-opacity="0.2"
          stroke-width="3"
          mask="url(#orbitMask)"
        />
        <path
          class="lightTrail"
          d="M172.811 153.998C146.159 174.445 119.174 189.202 97.1032 196.538C86.0654 200.208 76.2823 202.012 68.3969 201.761C60.507 201.51 54.5924 199.206 51.168 194.742C47.7437 190.279 47.0498 183.969 48.8504 176.284C50.65 168.602 54.9268 159.62 61.3293 149.909C74.1316 130.491 95.3729 108.249 122.025 87.8013C148.677 67.3538 175.662 52.5973 197.733 45.2604C208.77 41.5912 218.553 39.7864 226.439 40.0375C234.329 40.2887 240.243 42.5929 243.668 47.0563C247.092 51.5198 247.786 57.8293 245.985 65.5151C244.186 73.1965 239.909 82.1785 233.507 91.8895C220.704 111.308 199.463 133.55 172.811 153.998Z"
          stroke="#fff"
          stroke-opacity="0.2"
          stroke-width="3"
        />
        <path
          class="lightTrail"
          d="M160.973 83.9441C197.687 97.2651 229.374 113.548 250.926 129.093C261.705 136.868 269.925 144.443 274.976 151.352C280.039 158.277 281.842 164.427 280.03 169.42C278.219 174.412 272.892 177.975 264.566 180.043C256.26 182.106 245.095 182.646 231.838 181.7C205.332 179.809 170.576 171.983 133.863 158.662C97.1489 145.341 65.4616 129.059 43.9097 113.513C33.1311 105.738 24.9103 98.1637 19.8597 91.2545C14.797 84.3288 12.994 78.1791 14.8054 73.1866C16.6169 68.1941 21.9439 64.6314 30.2698 62.5636C38.5758 60.5006 49.7409 59.9602 62.9973 60.9061C89.5035 62.7976 124.259 70.623 160.973 83.9441Z"
          stroke="#fff"
          stroke-opacity="0.2"
          stroke-width="3"
        />
        <g filter="url(#filter0_d_2_336)">
          <circle cx="146.635" cy="120.9" r="81.8791" fill="#20CE70" fill-opacity="0.1" shape-rendering="crispEdges"/>
          </g>
          <path d="M107.093 133.368C105.713 133.368 104.473 133.128 103.373 132.648C102.293 132.148 101.443 131.468 100.823 130.608C100.203 129.728 99.8834 128.718 99.8634 127.578H102.773C102.873 128.558 103.273 129.388 103.973 130.068C104.693 130.728 105.733 131.058 107.093 131.058C108.393 131.058 109.413 130.738 110.153 130.098C110.913 129.438 111.293 128.598 111.293 127.578C111.293 126.778 111.073 126.128 110.633 125.628C110.193 125.128 109.643 124.748 108.983 124.488C108.323 124.228 107.433 123.948 106.313 123.648C104.933 123.288 103.823 122.928 102.983 122.568C102.163 122.208 101.453 121.648 100.853 120.888C100.273 120.108 99.9834 119.068 99.9834 117.768C99.9834 116.628 100.273 115.618 100.853 114.738C101.433 113.858 102.243 113.178 103.283 112.698C104.343 112.218 105.553 111.978 106.913 111.978C108.873 111.978 110.473 112.468 111.713 113.448C112.973 114.428 113.683 115.728 113.843 117.348H110.843C110.743 116.548 110.323 115.848 109.583 115.248C108.843 114.628 107.863 114.318 106.643 114.318C105.503 114.318 104.573 114.618 103.853 115.218C103.133 115.798 102.773 116.618 102.773 117.678C102.773 118.438 102.983 119.058 103.403 119.538C103.843 120.018 104.373 120.388 104.993 120.648C105.633 120.888 106.523 121.168 107.663 121.488C109.043 121.868 110.153 122.248 110.993 122.628C111.833 122.988 112.553 123.558 113.153 124.338C113.753 125.098 114.053 126.138 114.053 127.458C114.053 128.478 113.783 129.438 113.243 130.338C112.703 131.238 111.903 131.968 110.843 132.528C109.783 133.088 108.533 133.368 107.093 133.368ZM121.401 118.968V128.658C121.401 129.458 121.571 130.028 121.911 130.368C122.251 130.688 122.841 130.848 123.681 130.848H125.691V133.158H123.231C121.711 133.158 120.571 132.808 119.811 132.108C119.051 131.408 118.671 130.258 118.671 128.658V118.968H116.541V116.718H118.671V112.578H121.401V116.718H125.691V118.968H121.401ZM127.979 124.878C127.979 123.198 128.319 121.728 128.999 120.468C129.679 119.188 130.609 118.198 131.789 117.498C132.989 116.798 134.319 116.448 135.779 116.448C137.219 116.448 138.469 116.758 139.529 117.378C140.589 117.998 141.379 118.778 141.899 119.718V116.718H144.659V133.158H141.899V130.098C141.359 131.058 140.549 131.858 139.469 132.498C138.409 133.118 137.169 133.428 135.749 133.428C134.289 133.428 132.969 133.068 131.789 132.348C130.609 131.628 129.679 130.618 128.999 129.318C128.319 128.018 127.979 126.538 127.979 124.878ZM141.899 124.908C141.899 123.668 141.649 122.588 141.149 121.668C140.649 120.748 139.969 120.048 139.109 119.568C138.269 119.068 137.339 118.818 136.319 118.818C135.299 118.818 134.369 119.058 133.529 119.538C132.689 120.018 132.019 120.718 131.519 121.638C131.019 122.558 130.769 123.638 130.769 124.878C130.769 126.138 131.019 127.238 131.519 128.178C132.019 129.098 132.689 129.808 133.529 130.308C134.369 130.788 135.299 131.028 136.319 131.028C137.339 131.028 138.269 130.788 139.109 130.308C139.969 129.808 140.649 129.098 141.149 128.178C141.649 127.238 141.899 126.148 141.899 124.908ZM152.002 119.778C152.562 118.798 153.382 117.998 154.462 117.378C155.542 116.758 156.772 116.448 158.152 116.448C159.632 116.448 160.962 116.798 162.142 117.498C163.322 118.198 164.252 119.188 164.932 120.468C165.612 121.728 165.952 123.198 165.952 124.878C165.952 126.538 165.612 128.018 164.932 129.318C164.252 130.618 163.312 131.628 162.112 132.348C160.932 133.068 159.612 133.428 158.152 133.428C156.732 133.428 155.482 133.118 154.402 132.498C153.342 131.878 152.542 131.088 152.002 130.128V133.158H149.272V110.958H152.002V119.778ZM163.162 124.878C163.162 123.638 162.912 122.558 162.412 121.638C161.912 120.718 161.232 120.018 160.372 119.538C159.532 119.058 158.602 118.818 157.582 118.818C156.582 118.818 155.652 119.068 154.792 119.568C153.952 120.048 153.272 120.758 152.752 121.698C152.252 122.618 152.002 123.688 152.002 124.908C152.002 126.148 152.252 127.238 152.752 128.178C153.272 129.098 153.952 129.808 154.792 130.308C155.652 130.788 156.582 131.028 157.582 131.028C158.602 131.028 159.532 130.788 160.372 130.308C161.232 129.808 161.912 129.098 162.412 128.178C162.912 127.238 163.162 126.138 163.162 124.878ZM172.275 110.958V133.158H169.545V110.958H172.275ZM191.928 124.308C191.928 124.828 191.898 125.378 191.838 125.958H178.698C178.798 127.578 179.348 128.848 180.348 129.768C181.368 130.668 182.598 131.118 184.038 131.118C185.218 131.118 186.198 130.848 186.978 130.308C187.778 129.748 188.338 129.008 188.658 128.088H191.598C191.158 129.668 190.278 130.958 188.958 131.958C187.638 132.938 185.998 133.428 184.038 133.428C182.478 133.428 181.078 133.078 179.838 132.378C178.618 131.678 177.658 130.688 176.958 129.408C176.258 128.108 175.908 126.608 175.908 124.908C175.908 123.208 176.248 121.718 176.928 120.438C177.608 119.158 178.558 118.178 179.778 117.498C181.018 116.798 182.438 116.448 184.038 116.448C185.598 116.448 186.978 116.788 188.178 117.468C189.378 118.148 190.298 119.088 190.938 120.288C191.598 121.468 191.928 122.808 191.928 124.308ZM189.108 123.738C189.108 122.698 188.878 121.808 188.418 121.068C187.958 120.308 187.328 119.738 186.528 119.358C185.748 118.958 184.878 118.758 183.918 118.758C182.538 118.758 181.358 119.198 180.378 120.078C179.418 120.958 178.868 122.178 178.728 123.738H189.108Z" fill="#20CE70"/>
          <defs>
          <filter id="filter0_d_2_336" x="36.3298" y="10.5946" width="220.61" height="220.61" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset/>
          <feGaussianBlur stdDeviation="14.2129"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.0791667 0 0 0 0 0.0791667 0 0 0 0 0.0791667 0 0 0 0.5 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_336"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_336" result="shape"/>
          </filter>
          </defs>
    </svg>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

// Получаем орбиты и световой след

// Начальное положение и длина светового следа
let currentPosition = ref(0)

// Скорость анимации
const animationSpeed = ref(3) // Измените значение по вашему желанию

// Функция для изменения положения и длины светового следа
const lightTrails = ref<NodeListOf<HTMLElement>>()
function moveLightTrail() {
  currentPosition.value += animationSpeed.value // Изменяем положение светового следа с учетом скорости


  // Обновляем атрибуты пути светового следа
  lightTrails.value?.forEach((lightTrail) => {
    lightTrail.setAttribute('stroke-dashoffset', String(currentPosition.value))
    lightTrail.setAttribute('stroke-dasharray', '300')
  })

  // Запускаем функцию снова на следующем кадре анимации
  requestAnimationFrame(moveLightTrail)
}

onMounted(() => {
    // Запускаем анимацию
    lightTrails.value = document.querySelectorAll('.lightTrail')
    moveLightTrail()
})
</script>

<style scoped>

</style>