<template>
    <div class="p-5">
        <img :src="logo" width="166" height="44" alt="logo">
    </div>
</template>

<script setup lang="ts">
import logo from '@/assets/images/logo.png'

</script>

<style scoped>

</style>