@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
  }
}